/* Space out content a bit */
body {
  margin: 0;
  height: 100%;
}

.title {
  position: absolute;
  margin: .5em;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 2.5em;
  z-index: -1;
}

.selector {
  position: absolute;
  top: 0;
  right: 0;
  margin: .5em;
  z-index: 1;
}

.intro {
  font-size: .5em;
  -webkit-transition: all 6s ease-in-out;
  -webkit-transition-duration: 2s; 
  -moz-transition: all 6s ease-in-out;
  -moz-transition-duration: 2s; 
  -ms-transition: all 6s ease-in-out;
  -ms-transition-duration: 2s; 
  -o-transition: all 6s ease-in-out;
  -o-transition-duration: 2s; 
  transition: all 6s ease-in-out;
  transition-duration: 2s;
/*  animation-delay: 6s; 
  animation-duration: 2s; */
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  opacity: 0.3;
}

.line:hover {
  opacity:1;
}

.tooltip {   
  position: absolute;           
  text-align: center;                                    
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 1.8em;
  border: 0px;      
  border-radius: 8px;
  pointer-events: none;         
}