html, body {
  margin: 0;
  height: 100%;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.graph-container {
  height: 100%;
  padding: 0;
}

.title {
  margin: 0;
  font-size: 2.5em;
}

.navbar-override {
  margin-bottom: 0;
  border: none;
  background: transparent;
}

.navbar-menu {
  margin-right: .3em !important;
}

ul, li {
  display: inline-block;
  list-style-type: none;
  margin: .5em;
}

.about {
  text-align: center;
  margin: 1em .3em .6em .3em;
}

.github {
  display: block;
  margin: 0 0 0 auto;
  opacity: 0.75;
}

.github:hover {
  opacity: 1.0;
}

.selector {
  margin: .2em;
}

a:hover {
  text-decoration: none;
}

.modal-button {
  display: block;
  margin: 0 auto; 
  width: 40%;
  height: 3em;
}

.clean-button {
  margin: .5em 1em;
  padding: 0;
  border: none;
  background: transparent;
  background-color: transparent;
  opacity: 0.75;
}

.clean-button:hover, .clean-button:focus {
  background: transparent;
  background-image: none; 
  opacity: 1.0;
}

.clean-button:active {
  box-shadow: none;
}

.reveal-modal, .reveal-modal-bg {
  z-index: 99;
}

.axis path,
.axis line {
  /*fill: none;
  stroke: black;
  shape-rendering: crispEdges;*/
  display: none;
}

.axis-text {
  font-size: 3em;
  opacity: 0.5;
}

.domain {
  visibility: hidden;
}

.line {
  fill: none;
  opacity: 0.35;
}

.line:hover {
  opacity: 1.0;
}

.tooltip {   
  position: absolute;           
  text-align: center;                                    
  font-size: 1.8em;
  border: 0px;      
  border-radius: 8px;
  pointer-events: none;   
}