<div class="modal-content">
	<div class="modal-body">
		<h2 class="about">The lines of this graph represent the click-rate of the most clicked <a href="//bit.ly">bit.ly</a> links over the: <selector select="select" ranges="ranges"></selector></h2>
		<h2 class="about">Hover over the lines to read their titles.</h2>
		<h2 class="about">Click on the lines to learn more.</h2>
		<br></br>
		<button ng-click="ok()" class="modal-button btn btn-default">OK</button>
		<h4 class="github">
			<a href="https://github.com/danfriedma/bitly-trends">
				<img src="images/github.png">
			</a>
		</h4>
	</div>
</div>